//@import "variables";

@import "topography/topography";
@import "icons";

@import "сomponents/inputs/all";
@import "сomponents/page_elements/all";



body {
  --color_panel_background-main: #FFFFFF;
  --color_panel_background-second: #F8F8F7;
  --color_panel_background-warn: #4262FF;
  --color_panel_background-warn-tr: rgba(102, 153, 255, 0.2);;
  //---------------------------
  --color_border-main: #C3C2CF;
  //---------------------------
  --color_topography-main: #050038;
  --color_topography-main-invert: #FFFFFF;
  --color_topography-avoid: #C3C2CF;
  --color_topography-warn: #D92929;
  //---------------------------
  --box_shadow-warn: #2c42ad;
  --box_shadow-main: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
}

svg.assets {
  width: 0;
  height: 0;
  position: absolute;
}

body {
  display: flex;
  flex-direction: column;
  > h1 {margin: 0 0 40px 0;}
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  background: linear-gradient(199deg, #96A1A3 -10%, #3a5988 100%);


  .emails_input {
    width: 560px;
  }
}



#log {
  position: absolute;
  left: 100%;
  top: 0%;
  transform: translateX(-100%);
  padding: 20px;
}
