@import "@styles/variables";
@import "@styles/topography/mixins";

$alert_wraped_transition_duration: .25s;

.emails_input {
  display: inline-block;
  border-radius: $border_radius_big;
  overflow: hidden;
  background: var(--color_panel_background-main);
  box-shadow: var(--box_shadow-main);

  fieldset {
    padding: 24px 50px;
    border: none;
    background: var(--color_panel_background-second);
    &:nth-child(1) {padding-top: 32px;}
    &:nth-last-child(1) {padding-bottom: 32px;}
  }


  .textarea, textarea {
    position: relative;
    height: 94px;
    border: solid 1px var(--color_border-main);
    &:nth-last-child(1) {margin: 24px 0 0 0;}
    background: var(--color_panel_background-main);
    color: var(--color_topography-main);
    .text_block {
      background: var(--color_panel_background-warn-tr);
      color: var(--color_topography-main);

      transition: all .25s ease;
      &:hover {
        transform: scale(0.985);
      }
      &:active {
        color: var(--color_topography-warn);
      }
    }
    &::-webkit-scrollbar-track {
      background: var(--color_panel_background-second);
    }
    &::-webkit-scrollbar-thumb {
      background: var(--color_panel_background-warn);
    }
  }

  .emails_input_header {}


  .emails_input_footer {
    background: inherit;
    button, input, label {
      margin: 0 8px;
      &:nth-child(1) {margin-left: 0px}
      &:nth-last-child(1) {margin-right: 0px}
    }
  }
}







.emails_input .alert_wraped {
  margin: calc(8px + 1em) 0 0 0;
  position: relative;
  @include body-small;
  color: var(--color_topography-warn);


  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: -5px;
    border-radius: 4px;
    border: dashed currentColor 1px;
  }


  &::after {
    content: attr(data-text);
    position: absolute;
    top: -8px;
    transform: translateY(-100%);
  }

  &::before {
    transition: all $alert_wraped_transition_duration ease, visibility 0s ease;
    opacity: 1;
    visibility: visible;
  }
  &::after {
    transition: all $alert_wraped_transition_duration $alert_wraped_transition_duration ease, visibility 0s 0s ease;
    opacity: 1;
    visibility: visible;
  }
  &:not(.active) {
    &::before {
      transition: all $alert_wraped_transition_duration $alert_wraped_transition_duration ease, visibility 0s $alert_wraped_transition_duration * 2 ease;
      padding: 0;
      margin: -1px;
      opacity: 0;
      visibility: hidden;
    }
    &::after {
      transition: all $alert_wraped_transition_duration ease, visibility 0s $alert_wraped_transition_duration ease;
      transform: translateY(-100%);
      opacity: 0;
      visibility: hidden;
    }
  }
}
